<h2 class="mb-2 text-white">
  <% if current_photographer == @photographer %>
    <i class="fas fa-user"></i>
    マイページ
  <% else %>
    <i class="fas fa-user"></i>
    写真家詳細
  <% end %>
</h2>
<div class="row">
  <table class="table-light my-table w-100">
    <tr>
      <td colspan="2" class="bg-primary"><div class="text-center"><div class="text-white p-1">名前:  <%= @photographer.name %></div></div></td>
    </tr>
    <tr>
      <td class="w-50 text-center"><a href="<%= photographer_path %>" class="nav-link <%= 'active' if current_page?(photographer_path(@photographer)) %>">作品  <span class="badge badge-secondary"><%= @photographer.posts.size %></span></a></td>
      <td class="w-50 text-center"><a href="<%= favorittings_photographer_path %>" class="nav-link <%= 'active' if current_page?(favorittings_photographer_path(@photographer)) %>">お気に入りした作品  <span class="badge badge-secondary"><%= @photographer.favorites.size %></span></a></td>
    </tr>
    <% @favorites_row.each do |row| %>
      <tr>
        <% row.each do |favorite| %>
          <td class="bg-dark text-center"><%= link_to 'タイトル:  ' + favorite.post.title, post_path(favorite.post.id), class:'text-white' %></td>
          <% if row.size % 2 != 0 %>
            <td></td>
          <% end %>
        <% end%>
      </tr>
      <tr>
        <% row.each do |favorite| %>
          <% image = image_tag favorite.post.picture.url, class: 'picture'%>
          <td><div class="text-center"><%= link_to image, post_path(favorite.post.id) %></div></td>
            <% if row.size % 2 != 0 %>
              <td></td>
            <% end %>
        <% end%>
      </tr>
      <tr>
        <% row.each do |favorite| %>
          <td class="bg-info text-center"><%= link_to "作者:  " + favorite.post.photographer.name, photographer_path(favorite.post.photographer.id), class:'text-white' %></td>
          <% if row.size % 2 != 0 %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
      <tr>
        <% row.each do |favorite| %>
          <td><div class="text-center"><%= render 'favorites/favorite_button', post: favorite.post %></div></td>
          <% if row.size % 2 != 0 %>
            <td></td>
          <% end %>
        <% end%>
      </tr>
    <% end %>
  </table>
</div>

<% if @photographer.posts.size == 0 %>
  <br><br>
  <h2>投稿がありません</h2>
  <p>あなたのお気に入りの投稿が、ここに表示されます。</p>
<% end %>

<br>
<%= paginate @favorites %>
