<h2 class="mb-2 text-white"><i class="fas fa-edit"></i>Edit</h2>
<div class="row">
  <div class="col-12 form">
    <%= form_with(model: @post, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :title, 'Title' %>
        <%= f.text_field :title, class: 'form-control', rows: 5 %>
      </div>
      <div class="form-group">
        <%= f.label :content, 'Content' %>
        <%= f.text_area :content, class: 'form-control', rows: 5 %>
      </div>
      <%= image_tag @post.picture.url, class: 'picture' %>
      <div class="form-group">
        <%= f.label :picture, 'Upload Picture'%><br>
        <%= f.file_field :picture, class: 'form-control', rows: 5 %>
      </div>
      <%= f.submit 'Post', class: 'btn btn-primary btn-block w-25 mx-auto' %>
    <% end %>
    <br>
    <%= link_to "Delete", @post, method: :delete, data: { confirm: "タイトル：「#{@post.title}」を削除します。よろしいですか？" }, class: 'btn btn-danger' %>
  </div>
</div>