<script type="text/javascript">
  $(function(){
    $('.picture').click(
      function(){
        $('.picture-modal-wrapper').fadeIn(700);
      });
    $('.close-modal').click(
      function(){
        $('.picture-modal-wrapper').fadeOut();
      });
  });
</script>
<h2 class="mb-2 text-white"><i class="fas fa-camera-retro"></i>投稿詳細</h2>
<div class="row">
  <div class="col-12">
    <table class="table-light w-100 my-table">
      <tr>
        <td class="bg-dark text-white text-center">タイトル：<%= @post.title %></td>
      </tr>
      <tr>
        <td class="text-center">
          <%= image_tag @post.picture.url, class: 'picture cursor' %>
        </td>
      </tr>
      <tr>
        <td class="bg-info"><%= link_to '作者：' + @post.photographer.name, photographer_path(@post.photographer.id), class: 'text-white' %></td>
      </tr>
      <tr>
        <td>内容：<%= @post.content %></td>
      </tr>
      <% if current_photographer.id == @post.photographer.id %>
      <tr>
        <td>
         <div class="text-center">
           <%= link_to 'Edit', edit_post_path(@post.id), class: 'btn btn-primary w-25' %>
         </div>
        </td>
      </tr>
      <% end %>
      
    </table>
  </div>
</div>


<div class="picture-modal-wrapper" id="picture-modal">
  <div class="picture-modal">
    <div class="close-modal">
      <i class="fa fa-2x fa-times"></i>
    </div>
    <center>
    <img src="<%= @post.picture.url %>" class="d-block w-50">
    </center>
  </div>
</div>